base58==2.1.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
idna==3.7
pyaes==1.6.1
pycparser==2.22
pymediainfo-pyrofork==6.0.1
pyrofork==2.3.21.post3
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
urllib3==2.2.1